{% extends 'app/layout.html' %}
{% load static %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'app/stylealpha.css' %}">
{% endblock %}

{% block title %}
Find Nearby People
{% endblock %}

{% block body %}
<div class="card text-center">
  <div class="card-header">
    {% if user.is_mentor %}
    Students Nearby
    {% endif %}
    {% if user.is_student %}
    People Nearby You
    <a href="{% url 'AlphaAdd' %}" class="btn btn-success float-right">Add my Pin</a>
    {% endif %}
  </div>
  <div id="map"></div>
</div>
{% endblock body %}



{% block script %}
<script>
  // Convert to String to Array Object
  var studentdata = JSON.parse('{{ studentdata|safe }}');
  console.log(studentdata);
</script>
<script>
  var i;
  // If you're adding a number of markers, you may want to drop them on the map
  // consecutively rather than all at once. This example shows how to use
  // window.setTimeout() to space your markers' animation.

  var latlang_student = [];
  var infowindows_student = [];
  var content_student = [];
  // Construct Array of Objects
  for (var i = 0; i < studentdata.length; i++) {
    latlang_student.push(
      {
        lat: studentdata[i][1],
        lng: studentdata[i][2]
      }
    );
    content_student[i] = "<div><b>Username:</b> " + studentdata[i][0] + " <br><b>Interests</b>: " + studentdata[i][3] + " <br><b>Proficiency:</b> " + studentdata[i][4] + "</div>";
  }
  var markers = [];
  var markers_student = [];
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: { lat: 20.5937, lng: 78.9629 }
    });
  }

  window.onload = function () {
    clearMarkers();
    for (var i = 0; i < latlang_student.length; i++) {
      addMarkerWithTimeout(latlang_student[i], content_student[i], i * 200);
    }
  };

  var prev_infowindow = false;
  
  function addMarkerWithTimeout(position, html, timeout) {
    window.setTimeout(function () {
      var data = position;
      var marker = new google.maps.Marker({
        position: position,
        map: map,
        title: data.name,
        animation: google.maps.Animation.DROP
      });
      markers.push(marker);
      var infowindow = new google.maps.InfoWindow(
        {
          content: html,
        });
      google.maps.event.addListener(marker, 'click', (function (marker, html) {
        return function () {
          if (this.getMap()) {
            if (prev_infowindow) {
              prev_infowindow.close();
            }
            infowindow.open(this.getMap(), this);
          }
          prev_infowindow = infowindow;
        }
      })(marker, html));

    }, timeout);
  }

  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers_student = [];
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsIEEqoBh7-rXnD9hU2PCbLy2WAJakfb0&callback=initMap">
  </script>
{% endblock script %}