{% extends "app/layout.html" %}
{% load static %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" href='{% static "app/style1.css" %}'>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block title %}
Edutopia
{% endblock %}

{% block body %}

<!--Loading Animation-->
<div class="lds-ellipsis" id="lo">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="first">
  <div class="container-fluid first" style="padding-top: 70px;">
    <div class="row justify-content-center">
      <div class="col-auto mb-3" style="padding-left:30px;" id="col1">
        <div class="card text-white border-dark" style="width: 18rem;" data-aos="fade-up" data-aos-duration="2000"
          data-aos-delay="6000" id="card1">
          <img src="{% static 'app/pl.jpg' %}" class="card-img-top" alt="meet people">
          <div class="card-body">
            <p class="card-text">Learning something new? Find people who are too!</p>
            <a href="{% url 'alpha' %}" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3" style="padding-left:130px;" id="col2">
        <div class="card text-white border-dark" style="width: 18rem;" data-aos="fade-up" data-aos-duration="2000"
          data-aos-delay="6000" id="card2">
          <img src="{% static 'app/stuck.jpg'%}" class="card-img-top" alt="doubt">
          <div class="card-body">
            <p class="card-text">Stuck Somewhere? Find a mentor nearby</p>
            <a href="{% url 'beta' %}" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3" style="padding-left:130px;" id="col3">
        <div class="card text-white border-dark" style="width: 18rem;" data-aos="fade-up" data-aos-duration="2000"
          data-aos-delay="6000" id="card3">
          <img src="{% static 'app/cu.jpeg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Explore sources of learning, experiences and insights</p>
            <a href="{% url 'omega' %}" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
    </div>

    <!--Scroll Animation Arrow-->
    <div class="container" id="f">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </div>
</div>



<div class="second card mx-auto text-center w-100" id="sec">
  <div class="card-header">
    Our Vision
  </div>
  <div class="card-body">
    <h5 class="card-title">What is Edutopia?</h5>
    <p class="card-text">Edutopia - one stop platform for Students and aspiring Computer Science Enthusiasts.</p>
    <h5 class="card-title">Whats Unique About Edutopia?</h5>
    <p class="card-text">1.Connect with mentors and students near you who are enthusiastic to guide and learn together!</p>
    <p class="card-text">2.Start out in any domain with steps and links of curated resources.</p>
    <p class="card-text">3.Know about the latest opportunites in the field.</p>
    <a href="{% url 'beta' %}" class="btn btn-primary">Find a Mentor</a>
    <a href="{% url 'alpha' %}" class="btn btn-primary">Find Other People</a>
    <i class="float-right fas fa-angle-double-up fa-2x" style="color:white" id="up"></i>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $("#f").click(function (){
    $(".second").show();
    $('html,body').animate({
      scrollTop:$(".second").offset().top
    },
    'slow');
  });
  $(".about").click(function (){
    $(".second").show();
    $('html,body').animate({
      scrollTop:$(".second").offset().top
    },
    'slow');
  });

</script>

<script>
  $("#up").click(function () {
    $('html,body').animate({
      scrollTop: $(".navbar").offset().top
    },
      'slow');
  });
</script>

<script>
  $("#ab").click(function () {
    $('html,body').animate({
      scrollTop: $(".second").offset().top
    },
      'slow');
  });
</script>

<!--Arrow - Wait for cards to load-->
<script>$(function () {
    $('#f').hide(0).delay(5000).show(0);
  });</script>

<!--Remove load animation-->
<script>
  setTimeout(function () {
    $('#lo').remove();
  }, 5000);
</script>
<script>
  function arrow(y) {
    if (y.matches) {

      document.body.style.overflow = "visible";
      document.getElementById("card1").setAttribute("data-aos", "");
      document.getElementById("card1").setAttribute("data-aos-duration", "0");
      document.getElementById("card1").setAttribute("data-aos-delay", "0");

      document.getElementById("card2").setAttribute("data-aos", "");
      document.getElementById("card2").setAttribute("data-aos-duration", "0");
      document.getElementById("card2").setAttribute("data-aos-delay", "0");

      document.getElementById("card3").setAttribute("data-aos", "");
      document.getElementById("card3").setAttribute("data-aos-duration", "0");
      document.getElementById("card3").setAttribute("data-aos-delay", "0");

      $("#f").hide();
      $("#ab").show();
    }
    else {
      document.body.style.overflow = "hidden";
      document.getElementById("card1").setAttribute("data-aos", "fade-up");
      document.getElementById("card1").setAttribute("data-aos-duration", "2000");
      document.getElementById("card1").setAttribute("data-aos-delay", "3000");

      document.getElementById("card2").setAttribute("data-aos", "fade-up");
      document.getElementById("card2").setAttribute("data-aos-duration", "2000");
      document.getElementById("card2").setAttribute("data-aos-delay", "3000");

      document.getElementById("card3").setAttribute("data-aos", "fade-up");
      document.getElementById("card3").setAttribute("data-aos-duration", "2000");
      document.getElementById("card3").setAttribute("data-aos-delay", "3000");

      $("#f").show();
      $("#ab").hide();
    }
  }
  function disable(x) {
    /* responsive */
    if (x.matches) {

      document.getElementById("col1").setAttribute("style", "padding-left:0px");
      document.getElementById("col2").setAttribute("style", "padding-left:0px");
      document.getElementById("col3").setAttribute("style", "padding-left:0px");
    }
    else {
      document.getElementById("col1").setAttribute("style", "padding-left:30px");
      document.getElementById("col2").setAttribute("style", "padding-left:130px");
      document.getElementById("col3").setAttribute("style", "padding-left:130px");
    }
  }
  var x = window.matchMedia("(max-width:963px)")
  disable(x)
  x.addListener(disable)
  var y = window.matchMedia("(max-width:1200px)")
  arrow(y)
  y.addListener(arrow)
</script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>
{% endblock %}