{% extends 'app/layout.html' %}
{% load static %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'app/rs.css'%}">
{% endblock head %}

{% block title %}
Sign up - Student
{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{ signupform|crispy }}
                        {{ studentform|crispy }}
                        <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
                        <button class="btn  btn-google" type="submit"><i class="fab fa-google mr-2"></i> Sign up with
                            Google</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}