<script>
        //intimap call from script url
      
        var marker, map, infoWindow;
      
        function initMap() {
          infoWindow = new google.maps.InfoWindow;
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
      
              infoWindow.setPosition(pos);
              infoWindow.setContent('Location found.');
              infoWindow.open(map);
              map = new google.maps.Map(document.getElementById('map'),
                {
                  zoom: 15,
                  center: pos
                });
                    marker = new google.maps.Marker({
            position: pos,
            title: 'Your location',
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
          });
          marker.addListener('click', toggleBounce);
            }, function () {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }
          //var myLatLng = { lat: 19.9849269, lng: 73.7166353 };
      
      
        }
      
        function toggleBounce() {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          }
          else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        }
      
      
      
      </script>