[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
social-auth-app-django = "*"
boto3 = "*"
django-storages = "*"
django-heroku = "*"