body
{
    background-size: cover;
    background-image: url('career.jpg');
    /* background-color: #1b2a49; */
    font-family: 'Righteous',cursive;
    font-size: 25px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.nav-item
{
    color:rgba(0, 0, 0, 0.705) !important;
}
.row
{   
    font-family: 'Yatra One', cursive;
    font-size:20px;
    color:white;
}
.card-title
{
    font-family: 'Lato', sans-serif;
}
.btn
{
    font-size: 20px;
    font-family: 'Oleo Script', cursive;
}
.card
{
    background:#31303069;
} 